:root {
  box-sizing: border-box;
  font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
header { background-color: #f0f0f0; padding: 20px; text-align: center; }
main { padding: 20px; font-family: 'Sixtyfour Convergence', sans-serif; }
footer { background-color: #ccc; padding: 10px; text-align: center; }
